* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 200vh;
  width: 80px;
  background-color: #12171e;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: 250px;
  width: calc(100%-250px);
}
.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  top: 0.4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;

  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}
.top .logo {
  font-size: 2rem;
  margin-right: 10px;
}

.sidebar p {
  opacity: 0;
}
.sidebar.active p {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: first baseline;
  text-align: justify;
  text-decoration-line: initial;
  text-decoration: none;
  white-space: pre;
  overflow: hidden;
  text-overflow: initial;
  border-radius: 0.9rem;
}
.sidebar ul li a:hover {
  background-color: #fff;
  color: #12171e;
}
.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  opacity: 0;
}
.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip {
  opacity: 1;
}
.sidebar.active ul li .tooltip {
  display: none;
}

.online-users {
  background-color: #d30000;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 50%;
  width: 100%;
  height: 8%;
  position: relative;
  top: 1%;
  color: #eee;
  opacity: 0;
  padding-top: 5%;
}
.online-users #online-count {
  color: #eee;
  position: relative;
  height: 5%;
  text-align: center;
  font-size: 35px;
  top: 6%;
  font-weight: bold;
}
.sidebar.active .online-users {
  opacity: 1;
}

.main-content {
  position: relative;
  background-color: #eee;
  min-height: 200vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100%-80%);
  padding: min(1rem,8%);
  text-align: left;
  align-items: normal;
}
.main-content p {
  color: #d30000;
}

/*Resume html file */
.info {
  display: grid;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background-color: #e4e4e4;
  align-items: center;
  justify-content: left;
  font-size: 25px;
  text-align: left;
  padding: min(2rem 1rem,8%);
  /* padding: 2rem 1rem; */
  border-radius: 5px;
}
.info h1 {
  margin-bottom: 0.3rem;
  font-size: 70px;
}
.contacts {
  display: grid;
   font-size: 10vw;
  /* font-size: 20px; */
  text-align: left;
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.contacts a {
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  color: #12171e;
}
.contacts a:hover {
  background-color: #d30000;
  color: #eee;
  border-radius: 5px;
  min-width: 50px;
  text-align: left;
  height: 25px;
  line-height: 25px;
}
.me {
  display: grid;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 0.8rem;
  background-color: #e4e4e4;
  align-items: center;
  justify-content: left;
  border-radius: 5px;
  padding: 2rem 1rem;
}
.me p {
  color: #12171e;
  font-size: 10vw;
  line-height: 1.7;
  max-width: 450ch;
  text-align: left;
  margin: 1em auto;
  padding: 0 1rem;
}
.title {
  /* font-size: 2rem; */
  font-size: clamp(1.8rem,10vw,5rem);
  margin-right: 10px;
  border-bottom: 3px solid #d30000;
  padding-bottom: 0.3rem;
}
.education {
  display: grid;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 0.8rem;
  background-color: #e4e4e4;
  align-items: left;
  justify-content: left;
  border-radius: 5px;
  padding: 2rem 1rem;
}
.education p {
  color: #12171e;
  font-size: 20px;
}
.skills {
  display: grid;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 0.8rem;
  background-color: #e4e4e4;
  align-items: left;
  border-radius: 5px;
  padding: 2rem 1rem;
}

.skills table {
  width: 45%;

  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-spacing: 16px 10px;
  border-collapse: separate;
}

.skills th,
td {
  padding: 1rem;
  text-align: left;

  padding: 12px 16px;
  border-radius: 8px;
}

.skills th {
  background-color: #12171e;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px;
  border-spacing: 20px 0;
  border-collapse: separate;
}

.skills tr:hover {
  background-color: #f7f7f7;
  border-radius: 10px;
  color: #d30000;
}

.container {
  display: flex;
  justify-content: space-between;
}

/*Login html file */

.login-content {
  /* display: flex; */
  /* position: absolute; */
  position: relative;
  align-items: center;
  top: 50px;
  left: 30%;
  width: 500px;
  /* transform: translate(-50%, -50%); */
  /* text-decoration-color: #fff; */
  background-color: #12171e;
  padding: 1.5rem;
  border-radius: 12px;
  /* transition: all 0.5s ease; */
  /* transform: translateX(60); */
  /* margin-bottom: 50px; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.loginTxt {
  color: #d30000;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
  text-transform: capitalize;
}

.form {
  display: grid;
  place-items: center;
  gap: 15px;
}
.form button {
  align-items: center;
  border-radius: 12px;
  outline: none;
  border: 2px solid #d30000;
  max-width: 120px;
  width: 100%;
  text-align: center;
  padding: 5px 14px;
  font-size: 15px;
}
.form input {
  width: 100%;
  border-radius: 12px;
  height: 45px;
  text-align: center;
  padding: 10px 14px;
  outline: none;
  border: 1px solid #d30000;
  font-size: 20px;
  font-family: inherit;
  color: #111;
}
.form input:focus {
  border-color: #12171e;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

/* .sidebar.active ~ .login-content {
  transform: translateX(50);
  width: calc(100%-250px);
} */

/*Request html file */
.project-form {
  background-color: #12171e;
  padding: 1.5rem;
  border-radius: 12px;
  position: absolute;
  align-items: center;
  place-items: center;
  gap: 20px;
  top: 50px;
  left: 30%;
  width: 600px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.project-form input {
  display: grid;
  border-color: #12171e;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  text-align: center;
  width: 150%;
  border-radius: 12px;
  height: 45px;
  text-align: center;
  padding: 10px 14px;
  outline: none;
  border: 1px solid #d30000;
  font-size: 20px;
  font-family: inherit;
  color: #111;
}
textarea {
  position: relative;
  border-color: #12171e;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  text-align: center;
  width: 150%;
  border-radius: 12px;
  height: 45px;
  text-align: center;
  padding: 10px 14px;
  outline: none;
  border: 1px solid #d30000;
  font-size: 20px;
  font-family: inherit;
  color: #111;
  resize: vertical;
}
.project-form input:focus {
  border-color: #12171e;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}
.project-form button {
  align-items: center;
  border-radius: 12px;
  outline: none;
  border: 2px solid #d30000;
  max-width: 100%;
  text-align: center;
  padding: 5px 14px;
  font-size: 20px;
}
.project-form button i {
  height: 50%;
  font-size: 1.5rem;
  margin-right: 5px;
}
.projectForm {
  display: grid;
  position: static;
  place-items: center;
  gap: 15px;
}
.reqTxt {
  color: #d30000;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
  text-transform: capitalize;
}

/* Admin panel html file*/
 .admin-content{
  text-align: center;
  align-items: center;

 }
  .admin-content h1{
    /* font-size: 80px; */
    font-size: clamp(1.8rem,10vw,2rem);
  }

  .projet-inf-table{
    align-items: center;
      width: 45%;

  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-spacing: 16px 10px;
  border-collapse: separate;
  }
   .projet-inf-table tr{
    text-align: left;
   }