<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    
    <div class="sidebar">
      <div class="top">
        <div class="logo">
          <i class="bx bxs-star"></i>
          <span>Menu</span>
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>

      <ul>
        <li>
          <a href="/" id="homeBtn">
            <i class="bx bxs-home"></i>
            <span class="nav-item">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a href="/request" id="projectReqBtn">
            <i class="bx bxs-send"></i>
            <span class="nav-item">Project Request</span>
          </a>
          <span class="tooltip">Project Request</span>
        </li>
        <li>
          <a href="/login" id="loginBtn">
            <i class="bx bxs-user"></i>
            <span class="nav-item" >Login</span>
          </a>
          <span class="tooltip">Login</span>
        </li>
     
      </ul>
      <div class="online-users">
        <h1>Online users</h1>
        <output id="online-count"><i class='bx bx-user' ></i> 0</output>
      </div>
    </div>

    <div class="main-content">
      <div class="info">
        <h1>Zahra tohidifard</h1>
        <p><strong>Computer Engineering</strong></p>
        <div class="contacts">
          <a href="https://www.linkedin.com/in/zahra-tohidifard-b16529167/"
            ><i class="bx bxl-linkedin-square"></i>LinkedIn</a
          >
          <a href="https://github.com/tiredZaroo">
            <i class="bx bxl-github"></i>GitHub</a
          >
          <a><i class="bx bx-envelope"></i>tohidifard1382@gmail.com</a>
        </div>
      </div>

      <div class="me">
        <div class="title">
          <i class="bx bxs-user-circle"></i>
          <span class="resume-items"><strong>About Me</strong></span>
        </div>

        <p>
          I am a passionate computer engineering student with a strong interest
          in software development, web technologies, and problem-solving. My
          career goal is to contribute to innovative tech solutions and
          continuously grow in the field of software engineering.
        </p>
      </div>

      <div class="education">
        <div class="title">
          <i class="bx bxs-book-reader"></i>
          <span class="resume-items"><strong>Education</strong></span>
        </div>

        <p>
          <strong>University:</strong> Shahid Chamran University of Ahvaz
          <br />
          <strong>Field of Study:</strong> Computer Engineering <br />
          <strong>Year of Entry:</strong> 1401 <br />
          <strong>Status:</strong> Currently studying <br />
        </p>
      </div>
      <div class="skills">
        <div class="title">
          <i class="bx bxs-bulb"></i>
          <span class="resume-items"><strong>Skills</strong> </span>
        </div>

        <table>
          <tr>
            <th>Category</th>
            <th>Skills</th>
          </tr>
          <tr>
            <td>Programming Languages</td>
            <td>C++, Java, Python, Go</td>
          </tr>
          <tr>
            <td>Web Development</td>
            <td>HTML, CSS</td>
          </tr>
          <tr>
            <td>Database</td>
            <td>MySQL</td>
          </tr>
          <tr>
            <td>Tools & Software</td>
            <td>Git, VS Code, Postman, Linux</td>
          </tr>
          <tr>
            <td>Other Skills</td>
            <td>Problem-solving, Project Management, Teamwork</td>
          </tr>
        </table>
      </div>
    </div>
  </body>

  <script>
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let projectBtn = document.querySelector("#projectBtn");
    let adminBtn = document.querySelector("#adminBtn");
    let logoutBtn = document.querySelector("#logoutBtn");
    let onUsers = document.getElementById("#result");

    btn.onclick = function () {
      sidebar.classList.toggle("active");
    };
  </script>
</html>
<script src="/static/js/main.js"></script>


